<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Blog</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    
    <%- include('header') %> 

    <div id="addblog-container">
        <div class="inputs-blogs-container">
            <div>
                <input type="text" placeholder="Title..." class="title-input">
            </div>
            <div>
                <textarea  type="text" placeholder="About your blog..." class="text-blog-input"></textarea>
            </div>
            <div>
                
            </div>
        </div>
        <div class="addBlogBtn-formValidation">
            <button class="add-blog-btn">
                <span><img src="/images/rfgdf.svg" style="height: 23px;"></span>
                <span>Add Blog</span>
            </button>
            <p class="form-validation-addblog"></p>
        </div>
    </div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="js/script.js"></script>
</body>
</html>